.card{
    z-index: 5;
    background: transparent;
    border: none;
}

.form{
    padding: 70px 30px 30px;
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
    bottom:50px;
}